import {
  assertArrayIncludes,
  assertEquals,
} from "https://deno.land/std@0.79.0/testing/asserts.ts";

Deno.test("Day %DAY% Part One", () => {
  throw new Error("not implemented yet");
});

Deno.test("Day %DAY% Part Two", () => {
  throw new Error("not implemented yet");
});
